# cache & browser bloat
0ad/
Electron/
mozilla/
pulse/
dconf/
obsidian/
go/
ruffle/
flutter/
procps/
Proton/
spotdl/
menus/
nautilus/
QtProject/
kdeconnect/*
!kdeconnect/*/
kdeconnect/*/*

# apps completely ignored
vesktop/
vlc/
net.imput.helium/
Code - OSS/
libreoffice/
mimeapps.list
git-graph/
pavucontrol.ini

# security & credentials
VPN/
proton-auth.txt
gh/hosts.yml
obs-studio/plugin_config/obs-websocket/config.json
school.html
hypr/hyprlock.conf

# obs runtime noise
obs-studio/logs/
obs-studio/profiler_data/
obs-studio/plugin_manager/

# copilot & qt
github-copilot/
QtProject.conf
Kvantum/
fish/completions/*

# systemd temporary runtime states & noise
systemd/user/generator*
Sandbox Interactive GmbH/
unity3d/
xdg-desktop-portal/
Thunar/accels.scm

# common sensativities
*.pem
*.key
.env*
id_rsa*

# shell anfd stuff
fish/fish_variables
fish_variables
uv/

# backups and temps (so they dont end up being perminents)
*.bak
*.tmp
*.log
*.csv.gz
yazi/*-[0-9]*
fish/fish_variables
